/*regole top header*/
.top-header{
    height: 9vh;
    background-color: #fff;
}
.left{
    height: 100%;
    
}
.right{
    height: 100%;
    justify-content: flex-end;
}

/*regole main header*/
.main-header{
    height: 90vh;
}
.main-header_container{
    height: 85%;
    
}
.main-header_small{
    height: 60%;
    
}
.main-header_big{
    height: 65%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
/*inizio regole main*/
.solutions_container{
    height: 90vh;
    
}
.solution{
    
}