*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
}
.blue-button{
    background-color:#0061FF;
    border:none;
    color: #fff;
    padding: 6px 12px;
    margin: 3px;
}

/* regole top header*/
.top-header{
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 999;
}
.top_header{
    width: 50%;
    display:flex;
    align-items: center;
}
.top-header_content{
    padding: 15px;
    text-decoration: none;
    color: rgb(165, 162, 162);
    margin: 3px;
    font-size: small;
}

/*regole main header*/
.main-header{
    width: 100%;
    background-color: rgb(185, 200, 247);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main-header_container{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
}
.main-header_container>h1{
    font-size: 60px;
    font-weight: bold;
}
.main-header_small>p{
    font-size: 15px;
}
.main-header_small{
    width: 40%;
    padding-right: 10px;
    position: relative;
}
/*riferimento al bottone main header*/
.header-content{
    position: absolute;
    top: 50%;
    left: 0;
}
/*fine riferimento al bottone main header*/
.annulla{
    position: absolute;
    top: 70%;
    left:0;
    font-size: 15px;
}
.freccia{
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: black;
    font-size:30px;
}
.main-header_big{
    width: 60%;
    position: absolute;
    right: 0;
    bottom: -5%;
}
/*inizio regole main*/
.business{
    width: 50%;
    padding-top: 70px;
    margin: auto;
}
.business>h2{
    font-size: 30px;
}
.check_container{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}
.check{
    margin-right: 20px;
    font-size: 12px;
}
.solutions_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.solution{
    width: 30%;
    height: 100%;
    border: solid 2px lightgrey;
}